streamlit
vertexai
google-cloud-logging==3.6.0
fpdf
Flask
jsonify
gunicorn==22.0.0
Werkzeug==3.0.3
Flask-Cors
beautifulsoup4
pdfkit
wkhtmltopdf
make_response
python-dotenv
firebase-admin
firebase-functions
psycopg2
certifi
reportlab
bleach
html2text
xhtml2pdf
google-cloud-storage
google-api-python-client
pdf2docx
google-generativeai
genai